@import "../abstract/mixins";
@import "../abstract/variables";

.meme {
  display: flex;
  justify-content: space-around;

  .meme__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
