@import "../abstract/mixins";
@import "../abstract/variables";

.meme__image-wrapper {
  position: relative;
  width: 31rem;

  .meme__image {
    width: 31rem;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .meme__default__text {
    position: absolute;
  }
}
