@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin media-extra-sm {
  @media screen and (max-width: 318px) {
    @content;
  }
}

@mixin primary-input {
  border-radius: 3px;
  border: none;
  padding: 0.4rem;
}

@mixin meme-section-header {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
